---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Ola!</h1>
      <p>
        Este é apenas o meu diário público.
      </p>

      <p>
        Não sei por qual motivo mas tive a vontade de postar minha vida privada
        de forma pública, claro que parte dela será censurada e ou omitida.
      </p>

      <p>
        Outro fato será o de que acabarei por qualquer motivo que sejá mentindo,
        aumentando ou diminuindo fatos ou opniões.
      </p>

      <p>
        Quero ver por quando tempo estárei mantendo este diário, para isso vou
        definir dois contadores o primeiro sendo o de dias escritos (D), o
        segundo é o de maior sequência feita (S). Estes estando no cabeçalho da
        pagina.
      </p>

      <p>
        Me perdoe pelo meus erros em português, acabo sendo desleixado com minha
        ortografia. Qualquer erro que encontrar me avise para corrigi-lo. Desta
        forma torna sua possivel leitura mais agradável.
      </p>
		</main>
		<Footer />
	</body>

</html>
